<template>
  <v-form @submit="onSubmit">
    <v-container>
      <v-layout row>
        <v-flex xs12 sm6 offset-sm3>
          <v-text-field label="Add Item" v-model="newTodo"></v-text-field>
          <v-card>
            <v-list v-if="listItems.length">
              <v-list-tile v-for="item in listItems" :key="item.id">
                <v-list-tile-content>
                  <v-list-tile-title>{{item.text}}</v-list-tile-title>
                </v-list-tile-content>

                <v-list-tile-action>
                  <v-btn icon ripple @click="removeById(item.id)">
                    <v-icon color="grey lighten-1">delete</v-icon>
                  </v-btn>
                </v-list-tile-action>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script lang="ts">
import Vue from "vue";
import domain from "@/crud-domain";

interface ITodo {
  id: string;
  text: string;
  completed: boolean;
}

export default Vue.extend({
  name: "Crud",
  data() {
    return {
      newTodo: "",
      listItems: [] as Array<ITodo>
    };
  },
  methods: {
    onSubmit(e: any) {
      e.preventDefault();
      const addItem = domain.add_item_use_case.execute({
        text: this.newTodo
      });

      if (!addItem) {
        alert("Min 1 char");
      } else {
        this.listItems = domain.get_all_items_use_case.execute();
      }

      this.newTodo = "";
    },
    removeById(id: string) {
      const removeItem = domain.remove_item_by_id_use_case.execute({
        id
      });

      if (removeItem) {
        this.listItems = domain.get_all_items_use_case.execute();
      }
    }
  },
  mounted() {
    this.listItems = domain.get_all_items_use_case.execute();
  }
});
</script>