<template>
  <div id="app">
    <Crud/>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Crud from "./components/Crud.vue";

export default Vue.extend({
  name: "app",
  components: {
    Crud
  }
});
</script>

<style lang="scss">
html,
body {
  font-family: "Roboto";
}
</style>


